<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입 페이지</title>
</head>
<body>
    <h1>회원가입 페이지</h1>
    <hr>
    <form action="/join" method="POST">
        <input type="text" name="username" placeholder="Username" autocomplete="off"><br>
        <input type="password" name="password" placeholder="Password" autocomplete="off"><br>
        <input type="email" name="email" placeholder="Email" autocomplete="off"><br>
        <button>회원가입</button>
    </form>
</body>
</html>